<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<div class="container">

<h1>Input</h1>
<div ng-controller="inputCtrl">
    <form>
        First Name: <input type="text" ng-model="firstName">
    </form>
    <h3>You entered: {{ firstName }}</h3>
</div>
<br>
<br>


<h1>Checkbox</h1>
<div ng-controller="checkboxCtrl">
    <p>The header's ng-show attribute is set to true when the checkbox is checked.</p>
    <form>
        <input type="checkbox" ng-model="myVal">
    </form>
    <h3>myVal is set to be <strong>{{ myVal }}</strong>. <span ng-show="myVal">I'm a member of the KGB, hahahahaha!</span> </h3>
</div>
<br><br>


<h1>Radio button</h1>
<div ng-controller="radioCtrl">
    <p>The ng-switch directive hides and shows HTML sections depending on the value of the radio buttons.</p>
    <form>
        Please pick a character:
        <input type="radio" ng-model="myChoice" value="Michael Scofield"> Michael Scofield
        <input type="radio" ng-model="myChoice" value="Sara Tancredi"> Sara Tancredi
        <input type="radio" ng-model="myChoice" value="Lincoln Burrows"> Lincoln Burrows
    </form>
    <div ng-switch="myChoice">
        <div ng-switch-when="Michael Scofield">
            <h3>{{ myChoice }}</h3>
            <p>The mastermind of the breakout.</p>
        </div>
        <div ng-switch-when="Sara Tancredi">
            <h3>{{ myChoice }}</h3>
            <p>The girlfriend of the mastermind of the breakout.</p>
        </div>
        <div ng-switch-when="Lincoln Burrows">
            <h3>{{ myChoice }}</h3>
            <p>The brother of the mastermind of the breakout.</p>
        </div>
    </div>
</div>
<br><br>


<h1>Select</h1>
<div ng-controller="selectCtrl">
    <form>
        Select a topic:
        <select ng-model="myChoice">
            <option value="">
            <option value="dogs">Dogs
            <option value="tuts">Tutorials
            <option value="cars">Cars
        </select>
    </form>
    <div ng-switch="myChoice">
        <div ng-switch-when="dogs">
            <h1>Dogs</h1>
            <p>Welcome to a world of dogs.</p>
        </div>
        <div ng-switch-when="tuts">
            <h1>Tutorials</h1>
            <p>Learn from examples.</p>
        </div>
        <div ng-switch-when="cars">
            <h1>Cars</h1>
            <p>Read about cars.</p>
        </div>
    </div>
</div>
<br><br>


<h1>Application</h1>
<div ng-controller="myAppCtrl">
    <form novalidate>
        First Name: <br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name: <br>
        <input type="text" ng-model="user.lastName"><br><br>
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
</div>

</div>

<script src="myCtrl.js"></script>

</body>
</html>
