<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
input.ng-invalid {
    background-color: orangered;
}
input.ng-valid {
    background-color: aqua;
}
</style>
<body>

<p>Edit the text field and it will get/lose classes according to the status.</p>
<p><b>Note:</b> A text field with the "required" attribute is not valid when it is empty.</p>

<form ng-app="" name="myForm" ng-init="types=[
'ng-empty',
'ng-not-empty',
'ng-touched',
'ng-untouched',
'ng-valid',
'ng-invalid',
'ng-dirty',
'ng-pending',
'ng-pristine'
];">
    Enter your name:
    <input name="myName" ng-model="mytext" required>
    <br><br>
    <p>The ng-model directive adds/removes the following classes, according to the status of the form field:</p>
    <ol>
        <li ng-repeat="x in types">
            {{ x }}
        </li>
    </ol>
</form>

</body>
</html>