<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<p>Use the ng-model directive to bind the value of the input field to a property made in the controller.</p>

<div ng-app="myApp" ng-controller="myCtrl">
    Name: <input type="text" ng-model="name">
</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function ($scope) {
   $scope.name = 'Michael Scofield';
});
</script>



</body>
</html>