<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<h1>Mouse</h1>
<div ng-controller="mouseCtrl">
    <div ng-mousemove="count = count + 1"
    style="width: 250px; height: 100px; background-color: #ffff33;">
        mouse movement over me will trigger the increment of the count
    </div>
    <h4>Count: {{ count }}</h4>
</div>
<br>



<h1>Click</h1>
<div ng-controller="clickCtrl">
    <button class="btn btn-primary" ng-click="count = count + 1">Click Me!</button>
    <h4>Count: {{ count }}</h4>
    <button class="btn btn-primary" ng-click="increment()">Click me to invoke Increment</button>
    <h4>Count: {{ count_2 }}</h4>
</div>
<br>



<h1>Toggle</h1>
<div ng-controller="toggleCtrl">
    <button class="btn btn-success" ng-click="toggle()">{{ showme }}</button>
    <div ng-show="showme">
        <h4>Menu:</h4>
        <div>Pizza</div>
        <div>Pasta</div>
        <div>Pesce</div>
    </div>
</div>
<br>



<h1>Event</h1>
<div ng-controller="eventCtrl">
    <div id="dam" ng-mousemove="getCoordinates($event)"
         style="background-color: #ffff33;">
        Mouse over me!!!
    </div>
    <p>Left: {{ left }} | Top: {{ top }}</p>
    <p>Coordinates: {{ "(" + x + ", " + y + ")"}}</p>
</div>


<script src="myCtrl.js"></script>

</body>
</html>