<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="days=['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat']">

    <p>The third day is {{ days[2] }}.</p>

</div>

</body>
</html>
