<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="president={firstName: 'Barack', lastName: 'Obama'}">
    <p>The name is {{ president.firstName + " " + president.lastName }}.</p>
</div>

</body>
</html>
