<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<h1>Simple</h1>
<div ng-controller="myCtrl">
    <p>Today's welcome message is given by:</p>
    <h3>{{ myWelcome }}</h3>
</div>


<h1>Success + Failure</h1>
<div ng-controller="complicatedCtrl">
    <p>Today's welcome message is given by: <input ng-model="welcome" type="text"></p>
    <h3>{{ myWelcome }}</h3>
</div>


<h1>JSON</h1>
<div ng-controller="jsonCtrl">
    <ol>
        <li ng-repeat="x in myData">
            {{ x.Name + ", " + x.Country }}
        </li>
    </ol>
</div>

<script src="myCtrl.js"></script>

</body>
</html>
