<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>

</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <h1 ng-click="changeName()">{{ firstName }}</h1>
</div>

<p>Click on the header to run the "changeName" function.</p>
<p>This example demonstrates how to use the controller to change model data.</p>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function ($scope) {
    $scope.firstName = 'Michael';
    $scope.changeName = function () {
        $scope.firstName = 'Sara';
    }
});
</script>


</body>
</html>