<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    .w3-codespan {
        color: crimson;
        background-color: #f1f1f1;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 110%;
    }
    .w3-code, .w3-codespan {
        font-family: Consolas,"courier new";
        font-size: 16px;
    }


    div.css-div input.ng-invalid {
        background-color:pink;
    }
    div.css-div input.ng-valid {
        background-color:lightgreen;
    }

    div.css-div form.ng-pristine {
        background-color:lightblue;
    }
    div.css-div form.ng-dirty {
        background-color:pink;
    }
</style>

<body ng-app="myApp">


<div class="container">


    <h1>Required</h1>
    <div ng-controller="requiredCtrl">
        <p>Try writing in the input field:</p>
        <form name="myForm">
            <input name="myInput" ng-model="myInput" required>
        </form>
        <h4>The input's valid state is: {{ myForm.myInput.$valid }}</h4>
    </div>
    <br><br>




    <h1>Email</h1>
    <div ng-controller="emailCtrl">
        <p>Try writing an E-mail address in the input field:</p>
        <form name="myEmailForm">
            <input type="email" ng-model="myEmailInput" name="myEmailInput">
        </form>
        <h4>The input's valid state is: {{ myEmailForm.myEmailInput.$valid }}</h4>
    </div>
    <br>
    <br>




    <h1>States</h1>
    <div>
        <p>We use the ng-show directive to only show the error message if the field has been touched AND is empty.</p>
        <form name="myStateForm">
            <p>Name:
                <input name="myName" ng-model="myName" required>
                <span class="w3-codespan" ng-show="myStateForm.myName.$touched && myStateForm.myName.$invalid">The name is required.</span>
            </p>

            <p>Address:
                <input name="myAddress" ng-model="myAddress" required>
            </p>
        </form>
    </div>
    <br>
    <br>



    <h1>CSS Style</h1>
    <div class="css-div">
        <p>Try writing in the input field:</p>
        <form name="myForm">
            <input name="myName" ng-model="myName" required>
        </form><br>
        <form name="myForm">
            <p>Try writing in the input field:</p>

            <input name="myName" ng-model="myName" required>

            <p>The form gets a <strong>"ng-dirty"</strong> class when the form has been modified, and will therefore turn pink.</p>
        </form>
    </div>
    <br><br>




    <h1>Custom Validation</h1>
    <div>
        <p>Try writing in the input field:</p>
        <form name="myCustomForm">
            <input name="myCustomInput" ng-model="myCustomInput" required my-directive>
        </form>
        <h4>The input's valid state is: {{ myCustomForm.myCustomInput.$valid }}</h4>
        <p>The input field must contain the character "e" to be consider valid.</p>
    </div>
    <br><br>



    <h1>Application</h1>
    <div ng-controller="appCtrl">
        <form name="myAppForm" novalidate>
            <p>Username: <input type="text" ng-model="user" name="user" required>
            <span class="w3-codespan" ng-show="myAppForm.user.$dirty && myAppForm.user.$invalid">
                <span ng-show="myAppForm.user.$error.required">Username is required!</span>
            </span>
            </p>

            <p>Email: <input type="email" name="email" ng-model="email" required>
                <span class="w3-codespan" ng-show="myAppForm.email.$dirty && myAppForm.email.$invalid">
                    <span ng-show="myAppForm.email.$error.required">Email is required.</span>
                    <span ng-show="myAppForm.email.$error.email">Invalid email address.</span>
                </span>
            </p>

            <p>
                <input class="btn btn-success" type="submit"
                       ng-disabled="myAppForm.user.$dirty && myAppForm.user.$invalid ||
myAppForm.email.$dirty && myAppForm.email.$invalid">
            </p>
        </form>
    </div>


</div>

<script src="myCtrl.js"></script>

</body>
</html>
