<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body ng-app="myShoppingList" ng-cloak>


<div class="w3-container" ng-controller="myCtrl">
    <div class="w3-card-2 w3-margin" style="max-width:400px;">
        <header class="w3-container w3-light-grey w3-padding-16">
            <h3>My Shopping List</h3>
        </header>
        <ul class="w3-ul">
            <li ng-repeat="x in products" class="w3-padding-16">{{ x }}
                <span ng-click="removeItem($index)" style="cursor: pointer;" class="w3-right w3-margin-right">&times;</span>
            </li>
        </ul>
        <div class="w3-container w3-light-grey w3-padding-16">
            <div class="w3-row w3-margin-top">
                <div class="w3-col s10">
                    <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
                </div>
                <div class="w3-col s2">
                    <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
                </div>
            </div>
            <p class="w3-padding-left w3-text-red">{{errortext}}</p>
        </div>
    </div>

</div>



<script src="myCtrl.js"></script>

</body>
</html>
