<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name:  <input type="text" ng-model="lastName"><br><br>
    Full Name: {{ firstName + " " + lastName }}
</div>

<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
   $scope.firstName = "Michael";
   $scope.lastName = "Scofield";
});

</script>


</body>
</html>