<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Expressions</h1>
<div ng-app="">
    <p>Please input something in the input box:</p>
    <p>Name: <input type="text" ng-model="name"></p>
    <p>{{ name }}</p>
</div>

</body>
</html>