<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Expressions</h1>
<div ng-app="">
    <p>1 + 1 = {{ 1 + 1 }}</p>
</div>

</body>
</html>