<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<div ng-controller="customersCtrl">
    <table>
        <tr ng-repeat="x in names | orderBy : 'Name'">
            <td  style="background-color: #ffff33">{{ $index + 1 }}</td>
            <td ng-if="$odd">
                {{ x.Name }}
            </td>
            <td ng-if="$even" style="background-color: #f1f1f1">
                {{ x.Name }}
            </td>
            <td ng-if="$odd" style="background-color: #f1f1f1">
                {{ x.Country | uppercase}}
            </td>
            <td ng-if="$even">
                {{ x.Country }}
            </td>
        </tr>
    </table>
</div>

<script src="myCtrl.js"></script>

</body>
</html>