<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="
names=['Michael', 'Antonia', 'John', 'Dick', 'Lee'];
collection=[{name: 'Michael Scofield', age: 42},
            {name: 'Sara Tancredi', age: 39},
            {name: 'Lincoln Burrows', age: 45}];
">
    <p>Looping with ng-repeat:</p>
    <ul>
        <li ng-repeat="x in names">
            {{ x }}
        </li>
    </ul>
    <p>Looping again with ng-repeat</p>
    <ol>
        <li ng-repeat="y in collection">
            {{ y.name + ", " + y.age }}
        </li>
    </ol>
</div>

</body>
</html>