<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">


<div class="container">
    <h1>Cases</h1>
    <div ng-controller="caseCtrl">
        <p>{{ x1 }}</p>
        <p>{{ x2 }}</p>
        <p>{{ ha }}</p>
        <p>{{ hahaha }}</p>
    </div>

    <h2>isString vs isNumber</h2>
    <div ng-controller="stringNumberCtrl">
        <p>Original: {{ x1 }}. is string ==> {{ x2 }} | is number: {{  x22}}</p>
        <p>Original: {{ x3 }}. is string ==> {{ x44 }} | is number: {{  x4}}</p>
    </div>

</div>


<script src="myCtrl.js"></script>

</body>
</html>
