<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{ x.name + " " + x.country }}
        </li>
    </ul>
</div>

<script src="namesControllers.js"></script>

</body>
</html>