<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<h1>URL</h1>
<div ng-controller="urlCtrl">
    <h2>The url of the page is:</h2>
    <p>{{ myurl }}</p>
</div>


<h1>TIMEOUT</h1>
<div ng-controller="timeoutCtrl">
    <h2>The welcoming message is:</h2>
    <h3>{{ header }}</h3>
</div>


<h1>INTRVAL</h1>
<div ng-controller="intervalCtrl">
    <p>Current time is: <span ng-bind="currTime"></span> </p>
</div>

<p>The $interval service runs a function every specified millisecond.</p>


<h1>CUSTOM-MADE</h1>
<div ng-controller="customCtrl">
    <p>Please input a number in decimal: <input ng-model="val" type="number"> </p>
    <p>The hex equivalent is given by: <span style="background-color: yellow;" >{{ hex }}</span></p>
    <br>
    <p>Using filter to do this:</p>
    <p>Please input a number in decimal: <input ng-model="val_2" type="number"> </p>
    <p>The hex equivalent is given by: <span style="background-color: yellow;" >{{ val_2 | myFormat}}</span></p>
</div>
<script src="myCtrl.js"></script>

</body>
</html>
