<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<h1>personCtrl controller</h1>
<div ng-controller="personCtrl">
    <p>The name is {{ firstName | lowercase}} {{ lastName | uppercase }}</p>
</div>


<h1>namesCtrl controller</h1>
<div ng-controller="namesCtrl">
    <ol>
        <li ng-repeat="x in names | orderBy">
            {{ x.name + ", " + x.country }}
        </li>
    </ol>
</div>


<h1>costCtrl controller</h1>
<div ng-controller="costCtrl">
    <p>Price is given by: {{ price | currency }}</p>
</div>


<h1>namesCtrl_1 controller</h1>
<div ng-controller="namesCtrl_1">
    <p>Filter those has 'i':</p>
    <ol>
        <li ng-repeat="x in names | filter : 'i'">
            {{ x }}
        </li>
    </ol>
    <p>The list will only consists of names matching the filter:</p>
    <ol>
        <li ng-repeat="x in names | filter : test">
            {{ x }}
        </li>
    </ol>
    <p>Type a letter in the input field:</p>
    <p><input type="text" ng-model="test"></p>

</div>

<h1>tableCtrl controllers</h1>
<div ng-controller="tableCtrl">
    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('country')">Country</th>
        </tr>
        <tr ng-repeat="x in names | orderBy : myOrderBy">
            <td>{{ x.name }}</td>
            <td>{{ x.country }}</td>
        </tr>
    </table>
</div>


<h1>customCtrl controllers</h1>
<div ng-controller="customerCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{ x | yiyiwangFormat }}
        </li>
    </ul>
</div>

<script src="myCtrl.js"></script>

</body>
</html>
