<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp">

<h1>Basic Select</h1>
<div ng-controller="basicSelectCtrl">
    <p>This example shows how to fill a dropdown list using the ng-options directive.</p>
    <select ng-model="selectedName" ng-options="x for x in names">

    </select>

    <p>This example shows how to fill a dropdown list using the ng-repeat directive.</p>
    <select>
        <option ng-repeat="x in names">{{ x }}</option>
    </select>
</div>


<h1>ng-repeat v.s. ng-options</h1>
<div ng-controller="competeCtrl">
    <p>When you use the ng-repeat directive to create dropdown lists, the selected value must be a string.</p>
    <p>In this example you will have to choose between the color or the model to be your selected value.</p>
    <select ng-model="selectedCar">
        <option ng-repeat="x in cars" value="{{ x.model }}">{{ x.model }}</option>
    </select>
    <h3>You selected: {{ selectedCar }}</h3><br><br>
    <p>When you use the ng-options directive to create dropdown lists, the selected value can be an object.</p>
    <p>In this example you can display both the model and the color of the selected element.</p>
    <select ng-model="selectedCar_2" ng-options="x.model for x in cars">

    </select>
    <h3>You selected: {{ selectedCar_2.model }}, its color is <span style="color: {{ selectedCar_2.color }}">{{ selectedCar_2.color }}</span>. </h3>
</div>


<h1>object as list</h1>
<div ng-controller="objCtrl">
    <p>This example demonstrates the use of an object as the data source when creating a dropdown list.</p>
    <p>Select a car: </p>
    <select ng-model="selectedCar" ng-options="x for (x, y) in simplecars"></select>
    <h3>You selected: {{ selectedCar }}</h3>
    <br><br>


    <p>Note that the selected value represents an object.</p>
    <p>Select a car: </p>
    <select ng-model="selectedCar_2" ng-options="x for (x, y) in complexcars"></select>
    <h3>You selected: {{ selectedCar_2.brand }}| MODEL: {{ selectedCar_2.model }}, COLOR: <span style="color: {{ selectedCar_2.color }}">{{ selectedCar_2.color }}</span>.</h3>
    <br><br>


    <p>The visible text inside the dropdown list can also be a property of the value object.</p>
    <p>Select a car: </p>
    <select ng-model="selectedCar_3" ng-options="y.brand for (x, y) in complexcars"></select>
    <h3>You selected: {{selectedCar_3.brand}}</h3>
    <h4>Model: {{selectedCar_3.model}}</h4>
    <h5>Color: <span style="color: {{ selectedCar_3.color }}">{{ selectedCar_3.color }}</span></h5>

</div>

<script src="myCtrl.js"></script>


</body>
</html>
